<div class='userpage-label'>
<%= form_for @event do |f| %>

    <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors with your event:</h2>
      <ul>
        <% @event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @location.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors with your location:</h2>
    <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    
    <%= f.label :info %><br>
    <%= f.text_area :info %><br>
    
    <%= f.label :starts_at %><br>
    <%= f.datetime_field :starts_at %><br>
    
    <%= f.label :ends_at %><br>
    <%= f.datetime_field :ends_at%><br>

    <br><%= f.collection_radio_buttons :location_id, @locations, :id, :name %><br><br>
    <%= f.fields_for :location, @location do |location_field| %>
        <%= f.label :name %><br>
        <%= location_field.text_field :name %><br>
        <%= f.label :address %><br>
        <%= location_field.text_field :address %><br>
        <%= f.label :info %><br>
        <%= location_field.text_area :info %><br>
    <% end %>

    <%= f.submit %>
<% end %>
</div>