<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
<head>
  <title>Community Hub</title>
  <%= stylesheet_link_tag    'user', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="sidenav">
    <a><%= link_to "Home" , home_path %></a>
    <a><%= link_to "My Profile", user_path(session[:user_id]) %></a>
    <a><%= link_to "Events", events_path %></a>
    <a><%= link_to "Locations", locations_path %></a>
</div>
<%= yield %>

</body>
</html> 